@import "reset.less";
@import "variables.less";
.contentPage(){
    margin-top: 15px;
    background: @white-color;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: @body-width;
    font-family: @font-page;
    font-size: 16px;
    background: @backgroun-color; 
}
.about{
    .contentPage();
    .menu{
        display: flex;
        height: @menu-height;
        .element-menu{
            width: @body-width/3;
            height: @menu-height;
            border: @border;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            color: @white-color;
            background: @red-color;
            list-style-type: none;
            transition: @transition;
            cursor: pointer;
            &:hover{
                color:@red-color;
                background: @white-color;
            }
        }
    }
    .content{
        display:  none;
    }
    .active{
        display: block;
    }
    h2{
        border: @border;
        border-radius: @border-radius-top;
        text-align: left;
        color: @white-color;
        background-color: @red-color;
    };
    a{
        color: @red-color;
    }
    img{
        float: left;
        width: 250px;
        height: 200px;
    }
    .contacts{
        h2{
            margin:10px;
        };
        li{
            padding-left: 10px;
            list-style: square inside;
        }
        span{
            padding-left: 10px;
        }
    }
}
.mainPage{
    .contentPage();
    h1{
        border: @border;
        border-radius: @border-radius-top;
        text-align: center;
        color: @white-color;
        background-color: @red-color;
    };
}
.questionsPage{
    .contentPage();
    .question{
        h2{
            padding: 10px;
            border: @border;
            border-radius: @border-radius-top;
            text-align: left;
            color: @white-color;
            background-color: @red-color;
        };
        input[type="radio"],input[type="checkbox"]{
            cursor: pointer;
        }
        p{
            color: @color-header-links;
        }
        li{
            color: @color-header-links;
            list-style-type: none;
        }
        .inCorrectRes{
            color: red;
        }
        .correctRes{
            color: green;
        }
        .userRes{
            text-decoration: underline;
        }
        textarea{
            padding: 12px 10px;
            border: @border-input;
            resize: vertical;
        }
    }
}
.userInfo{
    .contentPage();
    .userName{
        height: @user-data-height;
        font-size: @user-info-font-size;
        color: @color-header-links;
    }
    .userControl{
        text-align: right;
    }
    .userQuestion{
        text-align: center;
        .item{
            list-style-type: none;
            width: @body-width/3;
            height: @user-item-height;
            color:  @color-header-links;
        }
        .value
        {
            font-size: @user-info-font-size;
            color: @red-color;
        }
    }
    img{
        float: left;
        width: @user-img-width;
        height: @user-data-height;
    }
    .container{
        justify-content: space-between;
    }
    
}

.authentication{
    width: @authentication-width;
	margin: 150px auto;
    h1{
        width: (@authentication-width)-2*@authentication-head-padding;
        padding: @authentication-head-padding;
        border: @border;
        border-radius: @border-radius-top;
        font-size: @head-font-size;
        text-align: center;
        text-transform: uppercase;
        color: @white-color;
        background-color: @red-color;
        
    };
    input[type="email"],input[type="password"],input[type="text"]{
        width: @authentication-width-input;
        padding: 12px 10px;
        border: @border-input;
        color: @red-color;
    }
    .default-btm{
        margin-top: 10px; 
    }
}
fieldset{
    position: relative;
    padding: 20px;
    border: @border;
    border-radius: @border-radius-down;
    background: @white-color;
}
.element{
    width: @body-width/4;
    height: @body-width/4;
    display: table;
    font-size: @element-font-size;
    text-overflow: clip;
    color: @red-color;
    transition: @transition;
    list-style-type: none;
    cursor: pointer;
    &:hover{
        color:@white-color;
        background: @red-color;
    }
    a{
        width: 100%;
        height: 100%;
    }
}
.default-btm{
    height: @default-btm-height;
    min-width: @default-btm-min-width;
    border: @border;
    font-size: @default-btm-font-size;
    text-transform: uppercase;
    color: @white-color;
    background: @red-color;
    transition: @transition;
    cursor: pointer;
    &:hover{
        color:@red-color;
        background: @white-color;
    }
}
.content-center{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    .btmControl{
        text-align: right;
    }
    li{
        display: inline-block;
        padding-left: 10px;
        text-transform: uppercase;
        color: @color-header-links;
        list-style-type: none;
        cursor: pointer;
        &:hover{
            color:@red-color;
        }
    }
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.newRow-2{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px auto;
    .col-1{
        grid-row: 1;
        grid-column:1;
    }
    .col-2{
        grid-row: 1;
        grid-column:2;
        width: 100%;
    }
}
footer{
    width: 100%;
    text-align: center;
    color: @footer-color;
    background: @footer-bg;
}
#map{
    height:400px;
    width: 400px;
    margin-top: 2px;
}