@import "reset.less";
@import "variables.less";
@import "generateGridColumn.less";
.contentPage(){
    grid-column: 2;
    grid-row: 2;
    margin-top: 15px;
    background: @white-color;
}

body{
    font-family: @font-page;
    display: grid;
    grid-template-columns: auto @body-width auto;
    grid-template-rows: 50px auto 20px;
    background: @backgroun-color;
    font-size:16px; 
}
.about{
    .contentPage();
    .menu{
        height: @menu-height;
        display: grid;
        grid-template-columns: @body-width/3 @body-width/3 @body-width/3;
        .element-menu{
            list-style-type: none;
            font-size: 20px;
            height: 26px;
            text-align: center;
            align-content: center;
            text-transform: uppercase;
            color: @white-color;
            background: @red-color;
            transition: @transition;
            border: 2px solid @red-color;
            cursor: pointer;
            &:hover{
                color:@red-color;
                background: @white-color;
            }
        }
        .col-1{
            grid-column: 1;
            grid-row: 1;
        }
        .col-2{
            grid-column: 2;
            grid-row: 1;
        }
        .col-3{
            grid-column: 3;
            grid-row: 1;
        }
    }
    .content{
        display:  none;
    }
    .active{
        display: block;
    }
    h2{
        background-color: @red-color;
        border-radius: @border-radius-top;
        border: @border;
        color: @white-color;
        text-align: left;
    };
    a{
        color: @red-color;
    }
    img{
        float: left;
        width: 250px;
        height: 200px;
    }
    .contacts{
        h2{
            margin:10px;
        };
        li{
            padding-left: 10px;
            list-style: square inside;
        }
        span{
            padding-left: 10px;
        }
    }
}
.mainPage{
    .contentPage();
    h1{
        background-color: @red-color;
        border-radius: @border-radius-top;
        border: @border;
        color: @white-color;
        text-align: center;
    };
}
.questionsPage{
    .contentPage();
    .question{
        h2{
            background-color: @red-color;
            border-radius: @border-radius-top;
            border: @border;
            color: @white-color;
            padding: 10px;
            text-align: left;
        };
        input[type="radio"],input[type="checkbox"]{
            cursor: pointer;
        }
        p{
            color: @color-header-links;
        }
        li{
            color: @color-header-links;
            list-style-type: none;
        }
        .inCorrectRes{
            color: red;
        }
        .correctRes{
            color: green;
        }
        .userRes{
            text-decoration: underline;
        }
        textarea{
            border: @border-input;
            padding: 12px 10px;
            resize: vertical;
        }
    }
}
.userInfo{
    .contentPage();
    .userName{
        font-size: @user-info-font-size;
        color: @color-header-links;
        height: @user-data-height;
    }
    .userControl{
        text-align: right;
    }
    .userQuestion{
        text-align: center;
        .item{
            color:  @color-header-links;
            height: @muser-item-height;
        }
        .value
        {
            color: @red-color;
            font-size: @user-info-font-size;
        }
    }
    img{
        width: @user-img-width;
        height: @user-data-height;
    }
    
}

.authentication{
    grid-column: 2;
    grid-row: 2;
	margin: 150px auto;
	width: @authentication-width;
    h1{
        background-color: @red-color;
        border-radius: @border-radius-top;
        border: @border;
        width: (@authentication-width)-2*@authentication-head-padding;
        color: @white-color;
        font-size: @head-font-size;
        padding: @authentication-head-padding;
        text-align: center;
        text-transform: uppercase;
    };
    input[type="email"],input[type="password"],input[type="text"]{
        border: @border-input;
        padding: 12px 10px;
        color: @red-color;
        width: @authentication-width-input;
    }
    .default-btm{
        margin-top: 10px; 
    }
}
fieldset{
    background: @white-color;
    border: @border;
    border-radius: @border-radius-down;
    padding: 20px;
    position: relative;
}
.element{
    color: @red-color;
    font-size: @element-font-size;
    transition: @transition;
    list-style-type: none;
    text-overflow: clip;
    display: table;
    cursor: pointer;
    &:hover{
        color:@white-color;
        background: @red-color;
    }
    a{
        width: 100%;
        height: 100%;
    }
}
.default-btm{
    font-size: @default-btm-font-size;
    text-transform: uppercase;
    color: @white-color;
    background: @red-color;
    transition: @transition;
    border: @border;
    min-width: @default-btm-min-width;
    height: @default-btm-height;
    cursor: pointer;
    &:hover{
        color:@red-color;
        background: @white-color;
    }
}
.content-center{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    overflow: hidden;
}
header{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: @body-width/3 @body-width/3 @body-width/3;
    padding-top: 10px;
    .logo{
        grid-column: 1;
        grid-row: 1;
    }
    .linksHeader{
        grid-column: 2;
        grid-row: 1;
    }
    .btmControl{
        grid-column: 3;
        grid-row: 1;
        text-align: right;
    }
    li{
        display: inline-block;
        padding-left: 10px;
        list-style-type: none;
        color: @color-header-links;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
            color:@red-color;
        }
    }
}
.newRow-2{
    display: grid;
    grid-template-columns: 400px auto;
    .col-1{
        grid-row: 1;
        grid-column:1;
    }
    .col-2{
        grid-row: 1;
        grid-column:2;
        width: 100%;
    }
}
footer{
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    background: @footer-bg;
    color: @footer-color;
}
#map{
    height:400px;
    width: 400px;
}