html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
#login-form,
#registration-form {
  margin: 150px auto;
  width: 300px;
}
#login-form h1,
#registration-form h1 {
  background-color: #eb1c23;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eb1c23;
  color: #FFF;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
#login-form fieldset,
#registration-form fieldset {
  background: #FFF;
  border: 0.1px solid #eb1c23;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}
#login-form input[type="email"],
#registration-form input[type="email"],
#login-form input[type="password"],
#registration-form input[type="password"],
#login-form input[type="text"],
#registration-form input[type="text"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  color: #eb1c23;
  width: 238px;
}
#login-form button,
#registration-form button,
#login-form input[type="submit"],
#registration-form input[type="submit"] {
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  background: #eb1c23;
  transition: all 0.4s ease;
  border: 2px solid #eb1c23;
  cursor: pointer;
  min-width: 119px;
  height: 30px;
}
#login-form button:hover,
#registration-form button:hover,
#login-form input[type="submit"]:hover,
#registration-form input[type="submit"]:hover {
  color: #eb1c23;
  background: #FFF;
}
.page {
  display: grid;
  grid-template-columns: auto 1026px auto;
  grid-template-rows: 3vh 95vh 2vh;
}
.page header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.page header .logo {
  grid-column: 1;
  grid-row: 1;
}
.page header .linksHeader {
  grid-column: 2;
  grid-row: 1;
}
.page header .linksHeader li {
  display: inline-block;
  padding-right: 10px;
  list-style-type: none;
  font-size: 1.08em;
  color: #414141;
  text-transform: uppercase;
}
.page header .linksHeader li:hover {
  color: #eb1c23;
}
.page header .btmControl {
  grid-column: 3;
  grid-row: 1;
}
.page footer {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  background: #333;
  color: #737373;
}
.page .about {
  grid-column: 2;
  grid-row: 2;
  padding-top: 50px;
}
.page .about .menu {
  border: 0.1px solid #eb1c23;
  border-radius: 5px;
  height: 30px;
  display: grid;
  grid-template-columns: auto, auto, auto;
}
.page .about .menu .news,
.page .about .menu .vacancies,
.page .about .menu .contacts {
  font-size: 20px;
  height: 100%;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  color: #FFF;
  background: #eb1c23;
  transition: all 0.4s ease;
  border: 2px solid #eb1c23;
  cursor: pointer;
}
.page .about .menu .news:hover,
.page .about .menu .vacancies:hover,
.page .about .menu .contacts:hover {
  color: #eb1c23;
  background: #FFF;
}
.page .about .menu .news {
  grid-column: 1;
  grid-row: 1;
}
.page .about .menu .vacancies {
  grid-column: 2;
  grid-row: 1;
}
.page .about .menu .contacts {
  grid-column: 3;
  grid-row: 1;
}
.page .about .content {
  margin-top: 20px;
  width: 400px;
  min-height: 400px;
}
