#login-form,
#registration-form {
  margin: 150px auto;
  width: 300px;
}
#login-form h1,
#registration-form h1 {
  background-color: #eb1c23;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eb1c23;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
#login-form fieldset,
#registration-form fieldset {
  background: #FFF;
  border: 0.1px solid #eb1c23;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}
#login-form input[type="email"],
#registration-form input[type="email"],
#login-form input[type="password"],
#registration-form input[type="password"],
#login-form input[type="text"],
#registration-form input[type="text"] {
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  font-family: 'Open Sans', sans-serif;
  color: #eb1c23;
  width: 238px;
}
#login-form button,
#registration-form button {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  background: #eb1c23;
  transition: all 0.4s ease;
  border: 2px solid #eb1c23;
  cursor: pointer;
  min-width: 119px;
  height: 30px;
}
#login-form button:hover,
#registration-form button:hover {
  color: #eb1c23;
  background: #FFF;
}
#page {
  display: grid;
  grid-template-columns: auto 1024px auto;
}
#page #main {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 30px auto 20px;
}
#page #main header {
  display: grid;
  grid-template-columns: auto, auto, auto;
  padding: 10px;
}
#page #main header #logo {
  grid-column: 1;
  grid-row: 1;
}
#page #main header #linkAbout {
  grid-column: 2;
  grid-row: 1;
}
#page #main header #btmControl {
  grid-column: 3;
  grid-row: 1;
}
#page #main #about {
  grid-column: 1;
  grid-row: 2;
  padding-top: 50px;
}
#page #main #about #menu {
  border: 0.1px solid #eb1c23;
  border-radius: 5px;
  height: 30px;
  display: grid;
  grid-template-columns: auto, auto, auto;
}
#page #main #about #menu #news,
#page #main #about #menu #vacancies,
#page #main #about #menu #contacts {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100%;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  color: #FFF;
  background: #eb1c23;
  transition: all 0.4s ease;
  border: 2px solid #eb1c23;
  cursor: pointer;
}
#page #main #about #menu #news:hover,
#page #main #about #menu #vacancies:hover,
#page #main #about #menu #contacts:hover {
  color: #eb1c23;
  background: #FFF;
}
#page #main #about #menu #news {
  grid-column: 1;
  grid-row: 1;
}
#page #main #about #menu #vacancies {
  grid-column: 2;
  grid-row: 1;
}
#page #main #about #menu #contacts {
  grid-column: 3;
  grid-row: 1;
}
#page #main #about #content {
  width: 400px;
  min-height: 400px;
}
